.container{
    padding: 110px;
    border-style: groove;
    border-color: blanchedalmond;
    border-radius: 30px ;
    border-width: 10px;
    height: 100%;
    margin: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/img/starz.jpg');

}
body {
    background-color: black;
}
.heading
{
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
    border-style: double;
    border-width: 20px;
    border-color: blanchedalmond;
    background-color: black;
    color: blanchedalmond;
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 25px;
    height: 100px;

}
.user_inf {
    transform: translate(0px, -15px);
}
.edit {
    color: blanchedalmond;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15px;
}
.info {
    background-color: black;
    color: blanchedalmond;
    border: 7px groove blanchedalmond;
    width: fit-content;
    padding: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lucida Console", "Courier New", monospace;
}
.fa.fa-home{
    width: 70px;
    height: 70px;
    font-size: 50px;
    color: blanchedalmond;
    background-color: black;
    transform: translate(600px, -125px);

}
.edit_info {
    background-color: black;
    color: blanchedalmond;
    border: 7px groove blanchedalmond;
    padding: 20px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lucida Console", "Courier New", monospace;
}
.fname {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.lname {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.email {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.check
{
    border-style: solid;
    font-family: "Lucida Console", "Courier New", monospace;
    border: 5px blanchedalmond inset;
    font-size: 15px;
    background-color: black;
    color: blanchedalmond;
    height: fit-content;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}